@charset "UTF-8";

:root{
    --cor0:#F2BBBF;
    --cor1:#A68572;
    --cor2:#F2D0BD;
    --cor3:#D9AB9A;
    --cor4:#F2E8E4;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

html, body{
    background-color: white;
    min-height: 100vh;
    
}

header{
    background-color:var(--cor3);
    height: 100px;
    
}

header> h1{
    margin-bottom:15px;
    text-align: center;
    
}

header > menu > a{
    background-color:var(--cor0);
    border:1px solid rgba(0, 0, 0, 0.493);
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    text-decoration: none;
    color: black;
}

header > menu > a:hover{
    background-color: var(--cor4);
    border: 1px solid #ffffff71;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.575);
    transition: transform .6s , border 1s;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.507);
}


main > section > h2{
    margin-bottom: 10px;
}

main > section > p{
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.555);
    margin-right: 20px;
   
}

section > form{
   
   /*fazerrrrrrrrrrrrrrrrrrrr*/

}
section#img01{
    background-image: url(../imagens/imagem1.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

section#img02{
    background-image: url(../imagens/imagem2.jpg);
    background-position: right bottom;
    background-size: cover;
    background-attachment: fixed;
}

footer > p > a{
    text-decoration: none;
    color:black;
}
footer > p > a:hover{
    text-decoration: underline;
}

footer > p{
    background-color:var(--cor3) ;
    padding: 10px;
    border: 2px solid var(--cor2);
    text-align: center;
}
